* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 70px
}

:root {
  --primaryText: #FFFFFF;
  --secondaryText: #2E2F33;

  --primaryButton: #FF7700;
  --secondaryButton: #8366561F;

  --shadowPrimary: rgba(255, 255, 255, 0.12);
  --shadowSecondary: rgba(131, 102, 86, 0.12);

  --primaryCounter: #2FB675;
  --secondaryCounter: #8366561F;
}
