.button {
  cursor: pointer;
  border: none;
  color: var(--colorButtonText);
}

.loading {

}

.primary {
  background-color: var(--primaryButton);
}

.secondary {
  background-color: var(--secondaryButton);
}

.small {
  border-radius: 9.3px;
  padding: 6px 10px;
}

.medium {
  border-radius: 12px;
  padding: 8px 12px;
}

.large {
  padding: 16px;
  border-radius: 16px;
}

.small .label {
  margin-right: 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.medium .label{
  margin-right: 6px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.large .label {
  margin-right: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}

.small .count {
  font-size: 11px;
  font-weight: 800;
  line-height: 12px;
}

.medium .count {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.large .count {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.small .icon {
  width: 16px;
  height: 16px;
}

.medium .icon {
  width: 24px;
  height: 24px;
}

.large .icon {
  width: 32px;
  height: 32px;
}
