.count {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  padding: 0 5px;
}

.count[data-variant="primary"] {
  background: var(--shadowPrimary);
}

.count[data-variant="secondary"] {
  background: var(--shadowSecondary);
}

.small {
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  padding: 0 3.6px;
}

.medium {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  padding: 0 3.6px;
}

.large {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 5px;
}
